/* conversation based on my idea and used Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Alegreya+Sans:wght@900&family=Alkatra:wght@400..700&family=Amita:wght@400;700&family=Bokor&family=Cinzel:wght@400..900&family=Dancing+Script:wght@400..700&family=Eagle+Lake&family=Ga+Maamli&family=Great+Vibes&family=Herr+Von+Muellerhoff&family=Kurale&family=Merienda:wght@300..900&family=Ponnala&family=Rajdhani:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


html {
  /* Make #id links scroll smoothly */
  scroll-behavior: smooth;
}

body {
  /* Change to something you like, but please do customize the font! */
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  box-sizing: border-box;
  /* Full screen hero section */
  width: 100%;
  height: 100dvh;
  /* Center the content vertically and horizontally */
  display: grid;
  place-content: center;
  /* Custom text and stuff */
  background: linear-gradient(to left, #000000, #ffffff);
  color: white;
  font-family: Futura;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  
}
.hero a {
  color: white;
  text-decoration: underline;
  text-decoration-color: #fdfcfc;
 
}

/* A little "activation" to demonstrate JS is working in the template */
.hero {
  transition: background 0.5s;
}
.hero.active {
  background: linear-gradient(to right, #000000, #ffffff);
  color: #000000;
  
}

.hero.active a{
  color: #000000;
   text-decoration: underline;
  text-decoration-color: #000000; 
}
main {
  /* Make sure our content can scroll the hero away */
  min-height: 100dvh;
  max-width: 25em; /* choose a width for text */
  line-height: 2; /* choose a line spacing */
  font-size: 20px; /* choose a font size */
  margin: auto; /* center the content */
  font-family: "Cinzel", serif;
}
body {
  background: linear-gradient(to right, #030303a3, #ffffff3e);
  transition: all 0.5s ease-in-out;
}


.hero:hover {
  animation: flipBackground 2s infinite alternate;
}

@keyframes flipBackground {
  50% {
    background: linear-gradient(to right, #ffffff, #000000); /* initial state */
  }
  100% {
    background: linear-gradient(to right, #000000, #ffffff); /* flipped state */
  }
}
.smiley {
  position: absolute;
  font-size: 20px;
  pointer-events: none;
  user-select: none;
  animation: fadeOut 1s ease-out;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

